@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To our Home page</h1>
    <p> This webpage helps is student management</p>
</div>
<div class="col align-self-center">
<a class="btn btn-link col align-self-center" href="/Student/Index">Click here to view students info</a>
</div>
<div class="col align-self-center">
<a class="btn btn-link " href="/Student/Add">Click here to add student</a>
</div>
